<!-- <h1 mat-dialog-title>Favorite Animal</h1>
<div mat-dialog-content>
  My favorite animal is:
  <ul>
    <li>
      <span *ngIf="data.animal === 'panda'">&#10003;</span> Panda
    </li>
    <li>
      <span *ngIf="data.animal === 'unicorn'">&#10003;</span> Unicorn
    </li>
    <li>
      <span *ngIf="data.animal === 'lion'">&#10003;</span> Lion
    </li>
  </ul>
</div> -->
<div class="addUser">
  <h1 mat-dialog-title class="mt-4 align-items-center d-flex justify-content-center" style="font-family: 'Times New Roman', Times, serif;">New User Form</h1>
    <div  mat-dialog-content>
      <div style="height:80%" class="w-100 d-flex align-items-center justify-content-center flex-column ">
    
        <form #addUserForm="ngForm" class="border rounded p-3 w-75 mt-5">
          <div class="mb-3">
            <label class="form-floating" for="floatingInputId">Employee Id</label>
            <input name="empId" [(ngModel)]="user.empId" type="text" class="form-control" id="floatingInputId"
              pattern="[a-zA-Z0-9]*" required #empId="ngModel">
          </div>
          <div *ngIf="empId.invalid && empId.touched" class="mb-3 text-danger">
            *Invalid Employee Id
          </div>
          

          <div class="mb-3">
            <label for="floatingInputName">Username</label>
            <input name="uname" [(ngModel)]="user.username" type="text" class="form-control" id="floatingInputName"
              pattern="[a-zA-Z ]*" required #uname="ngModel">
          </div>
          <div *ngIf="uname.invalid && uname.touched" class="mb-3 text-danger">
            *Invalid Username
          </div>
          

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input name="email" [(ngModel)]="user.email" type="email" class="form-control" id="exampleInputEmail1" required #email="ngModel">
          </div>
          <div *ngIf="email.invalid && email.touched" class="mb-3 text-danger">
            *Invalid Email Id
          </div>

          <div class=" form-floating mb-3">
            <select name="status" [(ngModel)]="user.status" class="form-control" id="floatingInputstatus" required #status="ngModel">
              <option disabled selected hidden value=""></option>
              <option value="1">Active</option>
              <option value="0">Inactive</option>

            </select>
            <label for="floatingInputstatus" class="form-label">Status</label>

          </div>

          <div *ngIf="status.invalid && status.touched" class="mb-3 text-danger">
            *Invalid Employee Status
          </div>


          <div class="text-center">

            <button (click)="cancel()" class="btn btn-secondary me-5">Cancel</button>
            <button (click)="addUser()" type="submit" [disabled]="addUserForm.invalid" class="btn btn-warning">Add</button>

          </div>
        </form>
      </div>

    </div>
</div>


    <!-- <pre>
      {{user.empId}}
      {{user.username}}
      {{user.email}}
      {{user.status}}
    </pre> -->

